  <hr>
  <footer>
    <p class="lead text-center">Designed with <a href="http://www.github.com/kylase/bootstrap">OpenlyFlat</a>, a <a href="http://www.getbootstrap.com">Twitter Bootstrap</a> fork</p>

    <p class="text-center"><small><strong>CircosAPI</strong> is copyrighted under <a href="http://opensource.org/licenses/MIT">MIT License</a>. Twitter Bootstrap and Circos are copyrighted to their respective owners.</small></p>
  </footer>
</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.analytics }}', 'kylase.github.io');
    ga('send', 'pageview');

  </script>
</body>
</html>
