  <hr>
  <footer>
    <p class="lead text-center">Designed with <a href="http://www.github.com/kylase/bootstrap">OpenlyFlat</a>, a <a href="http://www.getbootstrap.com">Twitter Bootstrap</a> fork</p>

    <p class="text-center"><small><strong>CircosAPI</strong> is copyrighted under <a href="http://opensource.org/licenses/MIT">MIT License</a>. Twitter Bootstrap and Circos are copyrighted to their respective owners.</small></p>
  </footer>
</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/CircosAPI/js/bootstrap.min.js"></script>
  <script>window.jQuery || document.write('<script src="/CircosAPI/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39189505-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39189505-1');
  </script>

</body>
</html>
