<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.title %}
        <title>{{ site.name }} | {{ page.title }}</title>
    {% else %}
        <title>{{ site.name }} </title>
    {% endif %}
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.url}}/css/pygments.css">
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">

    <!--<script src="js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner clearfix">
            <div class="container">
                <a href="{{ site.url }}" title="circosapi" class="brand">circosapi</a>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="{{ site.url }}/tutorials" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            Tutorials
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/hello-world" title="Hello World">Tutorial 1: Hello World</a></li>
                            <li><a href="{{ site.url }}/ideogram-labels" title="Ideogram Labels">Tutorial 2: Ideogram Labels</a></li>
                            <li><a href="{{ site.url }}/selection-and-scale" title="Selection and Scale">Tutorial 3: Selection and Scale</a></li>
                            <li><a href="{{ site.url }}/links-and-rules" title="Links and Rules">Tutorial 4: Links and Rules</a></li>
                            <li><a href="{{ site.url }}/histogram" title="Histogram">Tutorial 5: Histogram</a></li>
                            <li><a href="{{ site.url }}/axes-and-backgrounds" title="Axes and Backgrounds">Tutorial 6: Axes and Backgrounds</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ site.url }}/os-x-installation-guide">Install Circos on OS X</a></li>
                            <li><a href="{{ site.url }}/circos-on-linux-virtual-machine">Circos on Virtual Machine</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ site.url }}/reference">API Reference</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container content">
