<div class="row">
  <div class="span5">
  {% highlight perl %}
#!/usr/bin/perl
use lib::CircosAPI;

my $histo = Plot->new(file => 'data/histo.txt', t => 'histogram', ...);
my $sv = Link->new(file => 'data/sv.txt', ...);
my $hg19 => Base->new(karyotype => 'hg19');

my $c = CircosAPI->new(base => $hg19);
# Ideogram, Spacing and Image initialized via defaults.json

$c->addPlot($histo);
$c->addLink($sv);

print $c->compile;{% endhighlight %}

  </div>

  <div class="span2" id="between">
    <i class="icon-chevron-right"></i>
  </div>

  <div class="span5">
    <pre>
karyotype = data/karyotype.hg19.txt
&lt;ideogram&gt;
...
&lt;/ideogram&gt;
&lt;plots&gt;
&lt;plot&gt;
file = data/histo.txt
type = histogram
...
&lt;/plot&gt;
&lt;/plots&gt;
&lt;links&gt;
&lt;link&gt;
file = data/sv.txt
...
&lt;/link&gt;
&lt;/links&gt;</pre>
  </div>
</div>