<ul class="nav nav-list nav-stacked affix">
  <li><a href="#CObject" title="CObject">CObject</a></li>
  <li><a href="#DataTrack" title="DataTrack">DataTrack</a></li>
  <li><a href="#CircosAPI" title="CircosAPI">CircosAPI</a></li>
  <li><a href="#Base" title="Base">Base</a></li>
  <li><a href="#Image" title="Image">Image</a></li>
  <li><a href="#Ideogram" title="Ideogram">Ideogram</a></li>
  <li><a href="#Spacing" title="Spacing">Spacing</a></li>
  <li><a href="#Pairwise" title="Pairwise">Pairwise</a></li>
  <li><a href="#BreakStyle" title="BreakStyle">BreakStyle</a></li>
  <li><a href="#Ticks" title="Ticks">Ticks</a></li>
  <li><a href="#Tick" title="Tick">Tick</a></li>
  <li><a href="#Plot" title="Plot">Plot</a></li>
  <li><a href="#Link" title="Link">Link</a></li>
  <li><a href="#Highlight" title="Highlight">Highlight</a></li>
  <li><a href="#Rule" title="Rule">Rule</a></li>
<!--   <li><a href="#Axes" title="Axes">Axes</a></li>
  <li><a href="#Background" title="Background">Background</a></li> -->
</ul>