<ul class="thumbnails examples">
  <li class="span4 example"> 
    <a href="/hello-world">
      <div class="thumbnail">
        <img src="/img/01.png" alt="Hello World!">
        <h3>Hello World</h3>
      </div>
    </a>
  </li>
  <li class="span4 example"> 
    <a href="/ideogram-labels">
      <div class="thumbnail">
        <img src="/img/02.png" alt="Ideogram Labels">
        <h3>Ideogram Labels</h3>
      </div>
    </a>
  </li>
  
  <li class="span4 example"> 
    <a href="/selection-and-scale">
      <div class="thumbnail">
        <img src="/img/03.png" alt="Selection and Scale">
        <h3>Selection and Scale</h3>
      </div>
    </a>
  </li>
  
  <li class="span4 example"> 
    <a href="/links-and-rules">
      <div class="thumbnail">
        <img src="/img/04.png" alt="Links and Rules">
        <h3>Links and Rules</h3>
      </div>
    </a>
  </li>
  
  <li class="span4 example"> 
    <a href="/histogram">
      <div class="thumbnail">
        <img src="/img/05.png" alt="Histogram">
        <h3>Histogram</h3>
      </div>
    </a>
  </li>
  
  <li class="span4 example"> 
    <a href="/axes-and-backgrounds">
      <div class="thumbnail">
        <img src="/img/06.png" alt="Axes and Backgrounds">
        <h3>Axes and Backgrounds</h3>
      </div>
    </a>
  </li>
</ul>

<small>Images obtained from <a href="http://circos.ca/documentation/tutorials/quick_guide" title="Quick Guide">Circos</a></small>