<section id="Axis">
  <h2>Axis<small></small></h2>
  <p><pre>&lt;Axis&gt;...&lt;/Axis&gt;</pre></p>

  <h3>Attributes</h3>
  <dl>
    <dt><code>show</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>spacing</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>color</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>thickness</code></dt>
    <dd><p>INTEGER</p></dd>
    <dt><code>position</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>position_skip</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>axis</code></dt>
    <dd><p>ARRAYREF</p></dd>
  </dl>
</section>