<section id="Base">
  <h2>Base</h2>

  <p>This<code>Base</code> class writes all the attributes that are not enclosed in any blocks in the configuration files.</p>

  <h3>Attributes</h3>
  <code>karyotype</code>
  <code>chromosomes_units</code>
  <code>chromosomes</code>
  <code>chromosomes_display_default</code>
  <code>chromosomes_scale</code>
  <code>chromosomes_reverse</code>
  <code>chromosomes_color</code>
  <code>chromosomes_radius</code>
  <code>show_ticks</code>
  <code>show_tick_labels</code>

  <h3>Methods</h3>
</section>


