<section id="CObject">
  <h2>CObject <small>parent class</small></h2>

  <p>The base class of all objects in <strong>CircosAPI</strong>. It has methods that retrieve the attributes that the object possesses and print their values out as required of Circos configuration files.</p>

  <p>You will not need to use this class explicitly at any point of time.</p>

  <h3>Methods</h3>
  <dl>
    <dt><code>update(attrs_hash)</code></dt>
    <dd>Update the attributes with the values passed in as <code>attrs_hash</code>.</dd>
  </dl>
  
</section>