<section id="Highlight">
  <h2>Highlight <small>inherit from <a href="#DataTrack">DataTrack</a></small></h2>

  <p><strong>Highlight</strong> creates a <pre>&lt;highlight&gt;...&lt;/highlight&gt;</pre> block. Therefore you need to push this instance into <code>highlights</code> of your <strong>CircosAPI</strong> instance via its <code>addHighlight</code> method.</p>

  {% highlight perl %}
  # Example: $c is your CircosAPI instance, $h is your Highlight instance
  $c->addHighlight($h){% endhighlight %}

  <h3>Attributes</h3>
  <dl>
    <dt><code>file</code></dt>
    <dd>
      <p>STRING</p>
    </dd>
    <dt><code>rules</code></dt>
    <dd>
      <p>ARRAYREF</p>
      <p>Push a <a href="#Rule"><strong>Rule</strong></a> instance into this array via the <code>addRule</code> method.</p>
    </dd>
  </dl>

  <h3>Methods</h3>
  Refer to <a href="#DataTrack"><strong>DataTrack</strong></a> for methods
</section>