<section id="Ideogram">
  <h2>Ideogram <small></small></h2>
  <p>
    <code>Ideogram</code> class is for the <strong>ideogram</strong> block in Circos configuration file, i.e 
    <pre>&lt;ideogram&gt;...&lt;/ideogram&gt;</pre> 
  </p>
  <h3>Attributes</h3>
  <dl>
    <dt><code>show</code></dt>
    <dd><p>BOOL [yes]</p></dd>
    <dt><code>radius</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>thickness</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>fill</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>stroke_color</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>stroke_thickness</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>show_bands</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>fill_bands</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>band_transparency</code></dt>
    <dd><p>INTEGER</p></dd>
    <dt><code>band_stroke_thickness</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>band_stroke_color</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>show_label</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>label_radius</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>label_size</code></dt>
    <dd><p>INTEGER</p></dd>
    <dt><code>label_font</code></dt>
    <dd><p>STRING [default] (default, bold, condensed)</p></dd>
    <dt><code>label_parallel</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>label_with_tag</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>label_case</code></dt>
    <dd><p>STRING (upper, lower)</p> </dd>
    <dt><code>label_format</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>axis_break</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>axis_break_style</code></dt>
    <dd><p>INTEGER (1,2)</p></dd>
    <dt><code>axis_break_at_edge</code></dt>
    <dd><p>BOOL</p></dd>

    <dt><code>spacing</code></dt>
    <dd><p><strong><a href="#Spacing" title="Spacing">Spacing</a></strong></p></dd>
    <dt><code>break_style</code></dt>
    <dd><p><strong><a href="#BreakStyle" title="BreakStyle">BreakStyle</a></strong></p></dd>
  </dl>
</section>