<section id="Pairwise">
  <h2>Pairwise <small></small></h2>
  <p><strong>Pairwise</strong> is one of the components of <strong><a href="#Spacing" title="Spacing">Spacing</a></strong></p>
  <p><strong>Pairwise</strong> creates a <pre>&lt;pairwise pair1 pair2&gt;...&lt;/pairwise&gt;</pre> You need to specify at least <code>pair1</code> in order for the block to be fully defined.</p>
  <h3>Attributes</h3>
  <dl>
    <dt><code>pair1</code></dt>
    <dd>
      <p>STRING</p>
    </dd>
    <dt><code>pair2</code></dt>
    <dd>
      <p>STRING</p>
    </dd>
    <dt><code>spacing</code></dt>
    <dd>
      <p>STRING</p>
    </dd>
  </dl>
</section>