<section id="Spacing">
  <h2>Spacing <small></small></h2>
  <p><strong>Spacing</strong> is one of the components of <strong><a href="#Ideogram" title="Ideogram">Ideogram</a></strong></p>

  <p><strong>Spacing</strong> creates a <pre>&lt;spacing&gt;...&lt;/spacing&gt;</pre> within <strong><a href="#Ideogram" title="Ideogram">Ideogram</a></strong></p>
  <h3>Attributes</h3>
  <dl>
    <dt><code>pairwises</code></dt>
    <dd>ARRAYREF for <strong><a href="#Pairwise" title="Pairwise">Pairwise</a></strong> </p></dd>
    <dt><code>default</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>break</code></dt>
    <dd><p>STRING</p></dd>
  </dl>
</section>