<section id="Tick">
  <h2>Tick <small></small></h2>
  <p><strong>Tick</strong> is one of the components of <strong><a href="#Ticks" title="Ticks">Ticks</a></strong></p>
  <p><strong>Tick</strong> creates a <pre>&lt;tick&gt;...&lt;/tick&gt;</pre> in <strong><a href="#Ticks" title="Ticks">Ticks</a></strong>.</p>
  <h3>Attributes</h3>
  <dl>
    <dt><code>spacing</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>chromosomes</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>size</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>thickness</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>color</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>show_label</code></dt>
    <dd><p>BOOL</p></dd>
    <dt><code>label_size</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>label_offset</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>format</code></dt>
    <dd><p>STRING</p></dd>
  </dl>
</section>