<section id="Ticks">
  <h2>Ticks<small></small></h2>
  <p><strong>Ticks</strong> creates a <pre>&lt;ticks&gt;...&lt;/ticks&gt;</pre> in the configuration file</p>
  <h3>Attributes</h3>
  <dl>
    <dt><code>radius</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>multipier</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>format</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>thickness</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>color</code></dt>
    <dd><p>STRING</p></dd>
    <dt><code>tick</code></dt>
    <dd><p>ARRAYREF</p></dd>
  </dl>

  <h3>Methods</h3>
  <dl>
    <dt><code>addTick(Tick)</code></dt>
    <dd>Add a <strong><a href="#Tick" title="Tick">Tick</a></strong> or an array of <strong><a href="#Tick" title="Tick">Tick</a></strong> into <code>ticks</code></dd>
  </dl>
</section>