{% include header.html %}

{{ content }}
  
<section id="social">
  <div class="row">
    <p class="lead text-center">Synthesize your Circos graphics like a geek</p>
    <div class="span2 offset5">
      {% include github_repo_button.html %}
    </div>
  </div>
</section>
  
<section id="download">
  <div class="row">
    <p class="text-center">
      <a href="https://github.com/kylase/CircosAPI/archive/master.zip" title="Download from Github" class="btn btn-large btn-primary download">Download from Github</a>
    </p>
    <p class="text-center">Check out the <a href="{{ site.url }}/tutorials">tutorials</a></p>
    <p class="text-center">Also the <a href="https://www.github.com/kylase/CircosAPI">github repo</a></p>
  </div>
</section>

{% include footer.html %}
